USE [master]
GO
/****** Object:  Database [BDMG_Vendas]    Script Date: 04/08/2023 20:07:55 ******/
CREATE DATABASE [BDMG_Vendas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDMG_Vendas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDMG_Vendas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDMG_Vendas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDMG_Vendas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDMG_Vendas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDMG_Vendas]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 04/08/2023 20:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[CPF] [varchar](50) NULL,
	[Status] [bit] NULL,
	[Data_Nascimento] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 04/08/2023 20:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Fantasia] [varchar](50) NULL,
	[Razao_Social] [varchar](50) NULL,
	[CNPJ] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Fornecedores] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 04/08/2023 20:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Preco_Unitario] [real] NULL,
	[Fornecedor] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Codigo], [Nome], [CPF], [Status], [Data_Nascimento]) VALUES (1, N'Charles Rocha', N'07239415724', 1, CAST(N'1976-07-12' AS Date))
INSERT [dbo].[Clientes] ([Codigo], [Nome], [CPF], [Status], [Data_Nascimento]) VALUES (2, N'Pinkerton Rocha', N'07501266719', 1, CAST(N'1976-07-12' AS Date))
INSERT [dbo].[Clientes] ([Codigo], [Nome], [CPF], [Status], [Data_Nascimento]) VALUES (3, N'Aryna Martins', N'10264276736', 1, CAST(N'1982-05-24' AS Date))
SET IDENTITY_INSERT [dbo].[Clientes] OFF

GO
USE [master]
GO
