USE [master]
GO
/****** Object:  Database [BDMG_Vendas]    Script Date: 08/08/2023 10:11:20 ******/
CREATE DATABASE [BDMG_Vendas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDMG_Vendas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDMG_Vendas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDMG_Vendas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BDMG_Vendas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDMG_Vendas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDMG_Vendas]
GO
/****** Object:  User [BDMG_User]    Script Date: 08/08/2023 10:11:20 ******/
CREATE USER [BDMG_User] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BDMG]    Script Date: 08/08/2023 10:11:20 ******/
CREATE USER [BDMG] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [BDMG_User]
GO
ALTER ROLE [db_owner] ADD MEMBER [BDMG]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 08/08/2023 10:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[CPF] [varchar](50) NULL,
	[Status] [bit] NULL,
	[DataNascimento] [date] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedores]    Script Date: 08/08/2023 10:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedores](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[NomeFantasia] [varchar](100) NULL,
	[RazaoSocial] [varchar](100) NULL,
	[CNPJ] [varchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Fornecedores] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 08/08/2023 10:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](100) NULL,
	[PrecoUnitario] [float] NOT NULL,
	[CodigoFornecedor] [int] NOT NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdutosVendidos]    Script Date: 08/08/2023 10:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdutosVendidos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](100) NOT NULL,
	[PrecoUnitario] [float] NOT NULL,
	[QuantidadeVendida] [int] NOT NULL,
	[ValorTotal] [float] NOT NULL,
	[CodigoCliente] [int] NOT NULL,
	[CodigoProduto] [int] NOT NULL,
 CONSTRAINT [PK_ProdutosVendidos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendas]    Script Date: 08/08/2023 10:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendas](
	[NumeroVenda] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [int] NULL,
	[DataHora] [datetime] NULL,
	[ValorTotal] [float] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Produtos_Vendidos] PRIMARY KEY CLUSTERED 
(
	[NumeroVenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Codigo], [Nome], [CPF], [Status], [DataNascimento]) VALUES (31, N'Charles da Silva Rocha', N'07239415724', 1, CAST(N'1976-07-12' AS Date))
INSERT [dbo].[Clientes] ([Codigo], [Nome], [CPF], [Status], [DataNascimento]) VALUES (32, N'Aryna Martins', N'76552651600', 1, CAST(N'1993-04-25' AS Date))
INSERT [dbo].[Clientes] ([Codigo], [Nome], [CPF], [Status], [DataNascimento]) VALUES (33, N'Pinkerton Rocha', N'17579814030', 1, CAST(N'1976-07-12' AS Date))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Fornecedores] ON 

INSERT [dbo].[Fornecedores] ([Codigo], [NomeFantasia], [RazaoSocial], [CNPJ], [Status]) VALUES (8, N'Kabum Eletrônicos S.A.', N'Kabum Comércio Eletrônico', N'05570714000159', 1)
INSERT [dbo].[Fornecedores] ([Codigo], [NomeFantasia], [RazaoSocial], [CNPJ], [Status]) VALUES (9, N'Mercado Livre', N'Mercado Livre LTDA', N'54987241000103', 0)
INSERT [dbo].[Fornecedores] ([Codigo], [NomeFantasia], [RazaoSocial], [CNPJ], [Status]) VALUES (10, N'Mercado Livre Eletrônico', N'Mercado Livre LTDA', N'62483483000180', 1)
SET IDENTITY_INSERT [dbo].[Fornecedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Produtos] ON 

INSERT [dbo].[Produtos] ([Codigo], [Descricao], [PrecoUnitario], [CodigoFornecedor], [Status]) VALUES (16, N'Adaptador DVI Macho x VGA Fêmea', 55.9, 8, 1)
INSERT [dbo].[Produtos] ([Codigo], [Descricao], [PrecoUnitario], [CodigoFornecedor], [Status]) VALUES (17, N'Cadeira Gamer Thunder X3', 899.99, 8, 1)
INSERT [dbo].[Produtos] ([Codigo], [Descricao], [PrecoUnitario], [CodigoFornecedor], [Status]) VALUES (18, N'Fonte Corsair RMX Series RM850X Full Modular', 929.99, 11, 1)
SET IDENTITY_INSERT [dbo].[Produtos] OFF
GO
SET IDENTITY_INSERT [dbo].[ProdutosVendidos] ON 

INSERT [dbo].[ProdutosVendidos] ([Codigo], [Descricao], [PrecoUnitario], [QuantidadeVendida], [ValorTotal], [CodigoCliente], [CodigoProduto]) VALUES (72, N'Cadeira Gamer Thunder X3', 899.99, 1, 899.99, 31, 17)
INSERT [dbo].[ProdutosVendidos] ([Codigo], [Descricao], [PrecoUnitario], [QuantidadeVendida], [ValorTotal], [CodigoCliente], [CodigoProduto]) VALUES (84, N'Cadeira Gamer Thunder X3', 899.99, 2, 1799.98, 34, 17)
INSERT [dbo].[ProdutosVendidos] ([Codigo], [Descricao], [PrecoUnitario], [QuantidadeVendida], [ValorTotal], [CodigoCliente], [CodigoProduto]) VALUES (85, N'Fonte Corsair HX Series Modular HX1000 1000W 80 Plus Platinum', 1780.86, 1, 1780.86, 34, 34)
SET IDENTITY_INSERT [dbo].[ProdutosVendidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendas] ON 

INSERT [dbo].[Vendas] ([NumeroVenda], [CodigoCliente], [DataHora], [ValorTotal], [Status]) VALUES (3, 31, CAST(N'2023-08-08T01:19:31.000' AS DateTime), 899.99, 1)
INSERT [dbo].[Vendas] ([NumeroVenda], [CodigoCliente], [DataHora], [ValorTotal], [Status]) VALUES (7, 34, CAST(N'2023-08-08T02:30:16.000' AS DateTime), 4280.73, 0)
INSERT [dbo].[Vendas] ([NumeroVenda], [CodigoCliente], [DataHora], [ValorTotal], [Status]) VALUES (8, 32, CAST(N'2023-08-08T09:50:34.000' AS DateTime), 2761.93, 0)
SET IDENTITY_INSERT [dbo].[Vendas] OFF
GO
ALTER TABLE [dbo].[Produtos]  WITH CHECK ADD  CONSTRAINT [FK_Produtos_Fornecedor] FOREIGN KEY([CodigoFornecedor])
REFERENCES [dbo].[Fornecedores] ([Codigo])
GO
ALTER TABLE [dbo].[Produtos] CHECK CONSTRAINT [FK_Produtos_Fornecedor]
GO
ALTER TABLE [dbo].[ProdutosVendidos]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosVendidos_Clientes] FOREIGN KEY([CodigoCliente])
REFERENCES [dbo].[Clientes] ([Codigo])
GO
ALTER TABLE [dbo].[ProdutosVendidos] CHECK CONSTRAINT [FK_ProdutosVendidos_Clientes]
GO
ALTER TABLE [dbo].[ProdutosVendidos]  WITH CHECK ADD  CONSTRAINT [FK_ProdutosVendidos_Produtos] FOREIGN KEY([CodigoProduto])
REFERENCES [dbo].[Produtos] ([Codigo])
GO
ALTER TABLE [dbo].[ProdutosVendidos] CHECK CONSTRAINT [FK_ProdutosVendidos_Produtos]
GO
ALTER TABLE [dbo].[Vendas]  WITH CHECK ADD  CONSTRAINT [FK_Vendas_Clientes] FOREIGN KEY([CodigoCliente])
REFERENCES [dbo].[Clientes] ([Codigo])
GO
ALTER TABLE [dbo].[Vendas] CHECK CONSTRAINT [FK_Vendas_Clientes]
GO
USE [master]
GO
